doctype html
html(ng-app='CMS')
	head
		title= title
		link(rel='stylesheet', href='../bower_modules/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='../bower_modules/bootstrap/dist/css/bootstrap-theme.css')
		link(rel='stylesheet', href='../stylesheets/style.css')
	body
		include partials/mainmenu
		div.container
		block content		 
		h1 My Profile		 								
		p Welcome to your profile #{user.username} !
            

			script(type='text/javascript', src='../bower_modules/angular/angular.min.js')
			script(type='text/javascript', src='../js/app.module.js')
			script(type='text/javascript', src='../js/app.usercontroller.js')
			script(type='text/javascript', src='../js/app.userservice.js')
